@media screen and (max-width:991px){
    //Global
    p{
        line-height: 2;
    }
    .title{
        font-size: 14px;
    }
    //Navbar
    .navbar{
        margin: 0 auto;
    }
    //About
    .about{
        .text{
            h1{
                font-size: 40px;
            }
        }
        .image{
            h1{
                font-size: 50px;
            }
        }
    }
    //Category
    .category{
        .col-md-3{
            div{
                h1{
                    font-size: 35px;
                }
            }
        }
    }
    //Projects
    .projects{
        .second{
            .text-wrap{
                    padding: 0 45px;
                .text{
                    h1{
                        font-size: 30px;
                    }
                }
            }
            .pagination{
                font-size: 20px;
                top:40% ;
                .top,.bottom{
                    padding: 10px 25px;
                }
            }
        }
    }

}
@media screen and (max-width:767px){
    //Global
    section{
        height: auto;
    }
    //Slider
    .slider{
        margin: 0;
        .left{
            padding: 0 25px;
            .center{
                height: auto;
                width: auto;
                h1{
                    padding: 5%;
                }
                p{
                    width: auto;
                    padding: 0;
                    text-align: center;
                }
            }
            .bottom{
                justify-content: center;
                margin: 15px 0;
            }
        }
        .right{
            height: 300px;
            h1{
                font-size: 35px;
                margin: 0 auto;
                width: 75%;
                text-align: center;
                justify-content: center; 
                &::after{
                    height: 5px;
                }
            }

        }
    }
    //About
    .about{
        height: auto;
        padding: 0;
        margin: 0;
        .text{
            h1{
               font-size: 35px; 
            }
        }
        .image{
            justify-content: flex-end;
            width: auto;
            &::after{
                height: 80%;
                width: 65%;
                right: 0;
            }
            h1{
                font-size: 40px;
                left: 20%;
            }
            img{
                width: 65%;
            }
        }
    }
    //Category
    .category{
        height: 700px;
        margin-bottom: 0;
        .col-md-3 div{
            h1{
             font-size: 35px;  
            }
        }
    }
    //Work
    .work{
        height: auto;
        margin: 0;
        padding-bottom: 20px;
        .col-md-4{
            height: 65%;
            & div:only-child{
                margin: 30px 0;
                &::after{
                    font-size: 110px;
                }
            }
            h1{
                font-size: 35px;
            }
        }
    }
    //Project
    .projects{
        margin-top: 0;
        #projects{
            height:690px;
        }
        .container{
            padding: 20px;
        }
        .second{
            .col-md-6
            .image{
                max-height: 400px;
                    img{
                        height: 100%;
                        object-fit: cover;
                    }
                }
            .text-wrap{
                padding: 0 25px;
                .text{
                    margin: auto 0;
                    h1{
                        font-size: 25px;
                    }
                    &::after{
                        bottom: -120px;
                    }
                }
            }
            .pagination{
                font-size: 15px;
                flex-direction: row-reverse;
                top: 0;
                .top,.bottom{
                    padding: 10px 20px;
                }
                .bottom{
                    margin: 0;
                    margin-right: -2px;
                }
            }
        }
        .third {
            display: none;
        }
    }
    //Contact
    .contact{
        .container{
            margin: 0;
            padding: 0;
        }
        .brands{
            display: none;
        }
        .form{
            margin-top: 40px;
            form{
                height: 100%;
                .textarea{
                    height: 100%;
                }
            }
            .image{
                display: none;
            }
            .links{
                .link{
                    margin-right: 15px;
                }
            }
            &::after{
                top: -25px;
                width: 85%;
                height: 105%;
            }
        }
    }
}