@import '../global.scss';

.projects{
    margin-top: -300px;
    height: auto;
    .media{
        display: none;
    }
    .container{
        background-color: white;
        padding: 40px;
        width: 90%;
        margin: 0 auto;
    }
    .container-fluid{
        background-color: white; 
        padding: 0;
        position: relative;
        height: 400px;
    }
    .first{
        .col-md-12{
            display: flex;
            justify-content: center;
        }
    }
    .second{
        position: absolute;
        clear:both;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        opacity: 0;
        transition-timing-function: linear;
        transition-property: opacity, left;
        transition-duration: 2s, 1.5s, 1s, 0.5s;
        justify-content: center;
        .pagination{
            position: absolute;
            z-index: 10;
            font-size: 25px;
            font-weight: bold;
            flex-direction: column;
            top: 25%;
            cursor: pointer;
            .top,.bottom{
                padding: 15px 30px;
                background: #82b3ca;
                color: white;
                &:hover,.bottom:hover{
                    color: $color-gray;
                }
            }
            .bottom{
                margin-top: -2px;
                background: $color-blue;
            }
        }
        .image{
            width: 100%;
            height: 100%;
            cursor: pointer;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .text-wrap{
            padding: 0 75px;
            position: relative;
            display: flex;
            justify-content: center;
            .text{
                display: inline-block;
                h1{
                    line-height: 1.4;
                    word-break: break-word;
                    font-weight: 900;
                    font-size: 37px;
                    height: auto;
                }
                p{
                    color: $color-gray;
                    font-size: 14px;
                }
                &:after{
                    opacity: 0.1;
                    position: absolute;
                    font-size: 345px;
                    right: 0;
                    bottom: 0;
                    color: $color-gray;
                    font-weight: bold;                    
                }
            }
        }
        &.slideActive{
            z-index: 2;
            opacity: 1;
            transition-timing-function: linear;
            transition-property: opacity, left;
            transition-duration: 2s, 1.5s, 1s, 0.5s;
        }    
        &#first{
            .text-wrap{
                .text::after{
                    content: '1';
                }
            }
        }       
        &#second{
            .text-wrap{
                .text::after{
                    content: '2';
                }
            }
        }
        &#third{
            .text-wrap{
                .text::after{
                    content: '3';
                }
            }
        }
        &#fourth{
            .text-wrap{
                .text::after{
                    content: '1';
                }
            }
        }

    }
    .images{
        height: auto;
    }
    .third{
        flex-direction: row;
        justify-content: center;
        margin: 15px 0;
        .image{
            height: 115px;
            width: 180px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: box-shadow;
                transition-property: box-shadow;
                &:hover{
                    box-shadow: 0px 15px 60px 1px $color-blue;
                }
            }
        }
        .active img:hover{
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        }

        
        }
        .active img{
            border: 10px solid $color-blue;
        }
    }
